.whatis {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    
    @media screen and (min-width: 861px) {
        padding: 45px 0;
    }

    &__container {
        flex-direction: column;
        align-items: center;
    }

    &__row {
        display: flex;
        width: 100%;
        max-width: 996px;
        flex-direction: column;
    }

    &__title {
        font-size: 1.5rem; //24px
        line-height: 109.2%;
        font-weight: bold;
        color: $black-txt;
        margin-bottom: 25px;
        @media screen and (min-width: 861px) {
            margin-bottom: 45px;
            font-size: 1.875rem; //30px
        }
    }

    &__txt {
        font-size: 1rem; //16px
        line-height: 143.5%;
        font-weight: 500;
        color: $black-txt;
        @media screen and (min-width: 861px) {
            font-size: 1.125rem; //18px
            line-height: 140%;
            font-weight: 600;
        }
    }
}